.btn {
  display: inline-flex;
  align-items: center;
  margin: 0px 0;
  padding: 12px 17px;
  position: relative;
  z-index: 4;

  color: $color-default-black;

  background-color: $color-brilliant-rose;
  border: none;
  -webkit-tap-highlight-color: $color-transparent;
  -webkit-tap-highlight-color: transparent;

  border-radius: 40px;
  cursor: pointer;

  .icon{
    color: $color-default-white;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    background-color: $color-default-black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    box-shadow: -2px -3px 4px 1px rgba(8, 2, 7, 0.5), 2px 2px 4px #ead6ec;
  }
  span{
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 40px;
    font-weight: 600;
    font-family: "DINPro-Light";
    padding-right: 20px;
  }
}
