mixin switch()
  .switch
    a(href="", class="back")
      +img("content", "back", "png", "10px","10px","Назад")
    .transit-back(class='active')
    .transit-next
    a(href="", class="next")
      +img("content", "next", "png", "10px","10px","Далее")
