@font-face {
  font-style: normal;
  font-weight: 200;
  font-family: "DINPro-Light";

  font-display: swap;
  src:
    url("../fonts/DINPro-Light.woff2") format("woff2"),
    url("../fonts/DINPro-Light.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "DINPro-Medium";

  font-display: swap;
  src:
    url("../fonts/DINPro-Medium.woff2") format("woff2"),
    url("../fonts/DINPro-Medium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "DINPro-Bold";

  font-display: swap;
  src:
    url("../fonts/DINPro-Bold.woff2") format("woff2"),
    url("../fonts/DINPro-Boldt.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 200;
  font-family: "Gilroy-Light";

  font-display: swap;
  src:
    url("../fonts/Gilroy-Light.woff2") format("woff2"),
    url("../fonts/Gilroy-Light.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Gilroy-Medium";

  font-display: swap;
  src:
    url("../fonts/Gilroy-Medium.woff2") format("woff2"),
    url("../fonts/Gilroy-Medium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Gilroy-Bold";

  font-display: swap;
  src:
    url("../fonts/Gilroy-Bold.woff2") format("woff2"),
    url("../fonts/Gilroy-Bold.woff") format("woff");
}
