//- Base

include ./base/header
include ./base/footer

//- Utils

include ./utils/img

//- Blocks

include ./blocks/page1
include ./blocks/page2
include ./blocks/page3
include ./blocks/popup

//- Mixins

include ./mixins/btn
include ./mixins/key
include ./mixins/points
include ./mixins/switch
